*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: #10111f;
    height: 100vh;
    
   

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color: #f0f5eb;
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.todocard{
    
    background-color: black;
    
    padding: 20px;
    border-radius: 20px;

    box-shadow: 0 0 10px #ad2121;
}

.input{
    display: flex;
    
    gap:10px;
    margin-bottom: 20px;
}

.task{
    padding: 15PX;
    border-radius: 5px;
    width: 70%;
    border: none;
    background-color: #544552;
    color:#f0f5eb;
    outline: none;

}
ul {
    list-style-type: none;
    padding: 0;
  }

li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f5eb;
}

li.completed {
  text-decoration: line-through;
  opacity: 1;
  text-transform:uppercase
}

button{
    padding: 5PX;
    border-radius: 5px;
    border: none;
    background-color: #183de4;
    color:#f0f5eb;

}
button:hover{
    background-color: #500b0b;
}


li button{
    padding: 5PX;
    border-radius: 5px;
    border: none;
    background-color: #ad2121;
    color:#f0f5eb;
}

li button:hover{
    background-color: #500b0b;
}
